@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("https://t3.ftcdn.net/jpg/03/11/94/06/360_F_311940642_DQejWDRPk5tBUcyeXh4BZmyhOsvEekVi.jpg")
}

.member-card {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  
}
